<!DOCTYPE html>
<html>
<head>
    <title>Clasificador de Drogas</title>
    <script>
        function clasificarDroga(event) {
            event.preventDefault();
            const bp = document.getElementById('bp').value;
            const Na_to_K = document.getElementById('Na_to_K').value;
            const Cholesterol_HIGH = document.getElementById('Cholesterol_HIGH').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `bp=${bp}&Na_to_K=${Na_to_K}&Cholesterol_HIGH=${Cholesterol_HIGH}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'La droga es ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Clasificador de Drogas</h1>
    <form id="formulario" onsubmit="clasificarDroga(event)">
        <label for="bp">Niveles de presión arterial:</label>
        <input type="text" id="bp" name="bp"><br><br>
        <p>High(0.0), Low(1.0), Normal(2.0)</p>
        <label for="Na_to_K">Ración de sodio a potasio en sangre:</label>
        <input type="text" id="Na_to_K" name="Na_to_K"><br><br>
        <label for="Cholesterol_HIGH">Colesterol alto:</label>
        <p>Si(1), No(0)</p>
        <input type="text" id="Cholesterol_HIGH" name="Cholesterol_HIGH"><br><br>
        <input type="submit" value="Enviar">
    </form>
    <p id="resultado"></p>
</body>
</html>
